# ML
prophet>=1.1,<2
salesforce-merlion>=1.2.3,<2

# core
numpy
pandas
scipy
statsmodels
Faker
pyspark>=3.0.0,<3.1
pydeequ
desert
marshmallow

# repository
sqlalchemy
pg8000

# dashboard
streamlit
plotly
matplotlib
seaborn
